/* ***************************************************************************
GENERAL
*************************************************************************** */

html {
    position: relative;
    min-height: 100%
}

body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('background.jpg');
    color: white;
}


/* ***************************************************************************
NAV
*************************************************************************** */


/* ***************************************************************************
MAIN SECTION
*************************************************************************** */


/* ***************************************************************************
CATALOG
*************************************************************************** */


/* ***************************************************************************
ACCOUNT
*************************************************************************** */


/* ***************************************************************************
FOOTER
*************************************************************************** */


/* ***************************************************************************
MEDIA QUERY
*************************************************************************** */
